ul{
    list-style:none;
    text-decoration:none;
    padding:0;
    margin:0;
}

a{
    text-decoration:none;
}

body{
    background:#E1CFCF;
    margin:0;
    padding:0;
    text-align:center;
    color:#47B886;
    font-family: Arial, Helvetica, sans-serif;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=HEADER=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

header{
    color: black;
    height:300px;
}

section{
    font-family:'Times New Roman', Times, serif;
    font-size:1.5em;
    padding-top:40px;
    height:100%;
    width:100%;
    background-size:cover;
    background-image: url("imagens/foto-destaque-.webp")
}

section > h1{
    font-size: 3em;
}

main{
    padding-top:40px;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=MENU MENU=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.menu{
    height:50px;
    display:flex;
    justify-content:space-around;
    text-align:center;
    background:#d86bd8;
}

.botaoMenu{
    border:0;
    font-size:1.6em;
    height:100%;
    width:90px;
    background:#d86bd8;
}
.botaoMenu:hover{
    cursor:pointer;
    background:#ceb0b054;
    color:white;
    transition: 0.5s;
}

.menulinks{
    background: red;
    width:200px;
    height:150px;
}

.menulinks > ul {
    
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=MENU PESQUISAR=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.botaoPesquisa{
    border:0;
    font-size:1.6em;
    height:100%;
    width:90px;
    background:#d86bd8;
}
.botaoPesquisa:hover{
    cursor:pointer;
    background:#ceb0b054;
    color:white;
    transition: 0.5s;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=MAIN=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.main{
    padding:10px;
    margin:auto;
    width:75%;
    background:white;
}

.titulo1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 4em;
    margin-top:70px;
}

.imagemMateria{
    width:100%;
    height:100%;
}

.noticiaPrincipal{
    text-align:left;
    margin-bottom:100px;
    padding:20px;
}

.tituloMateriaP{
    color:#47B886;
}
.tituloMateriaP:hover{
    color:black;
    transition: 0.3s;
}

.divMP1{
    width:70%;
}

.divMP2{
    width:100%;
    height:300px;
    padding:0;
    text-align:center;
    background-image: url('imagens/foto-destaque-2-1.webp');
    background-size:cover;
    background-position:center;
}

.divMP2:hover{
    background-size:110%;
    transition:0.5s;
}

.noticiaPrincipal > p {
    color:black;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=MATERIA MENOR=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.materiaMenor{
    display:flex;
    text-align:left;
    width:100%;
}

.materiaMenor > div {
    background:#fff;
    padding:5px;
    height:200px;
    width:50%;
    margin:0;
}

.materiaMenor > div > a > img {
    height:100%;
    width:100%;
}

.materiaMenor > div > a {
    color:#47B886;
    font-size:1.2em;
}

.materiaMenor > div > a:hover {
    font-size:1.3em;
    transition:0.2s;
}

.materiaMenor > div > p{
    color:black;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=BARRA DE LINK=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.barraDeLinks{
    width:100%;
    height:100px;
    padding-top:10px;
    background: linear-gradient(#dd89dd, #d86bd8);
}

.barraDeLinks > ul > li > div > a {
    display:block;
    color:black;
}

.barraDeLinks > ul > li > div {
    padding:3px;
    margin:auto;
    width:80px;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=RODAPE=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.rodape{
    box-sizing: border-box;
    border-top: 1px solid black;
    width:100%;
    height:30px;
    padding:2px;
    background:#d86bd8;
}

.rodape > p {
    color:white;
    margin:0;
    font-size:0.8em;
    padding:5px;
}